* {
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #020E35;
}

body {
    overflow-x: hidden;
    background:var(--main-color);
    font-family: 'Basic';

}
.color-switcher {
    position: fixed;
    top: 25px;
    right: -220px;
    width: 200px;
    z-index: 1000;
}
.color-switcher.active {
    right: 0;
}
.color-switcher h3{
    color: #acacac;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #020E35;
    padding: 5px 0;
    text-align: center; 
}
.color-switcher .switcher-btn{
    position: absolute;
    top: 0;
    left: -75px;
    color: #020E35;
    background: var(--main-color);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    
}
.color-switcher .switcher-btn i {
    animation:rotate 2s linear infinite;
    color: #fff;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }   
}
.color-switcher .theme-buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.color-switcher .theme-buttons-container .theme-buttons{
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    border: 2px solid #fff;
}

.aboutus {
    height: 1080px;
    background-color: #fff;
}
.aboutus .img-banner {
    background-color: var(--main-color);
    border-radius: 25px;
   
}
.aboutus .img-banner .img-fluid{
    padding-top: 30px;
}
.aboutus h1 {
    color: var(--main-color);
}
.homespace {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.homespace img {
    width: 600px;
    height: 300px;
}
.homespace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}
.homespace h3 span {
    font-weight: 500;
    color: var(--main-color);
}
.homespace p {
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin: 30px 0;
}

.aboutus .card {
    height: 583px;
    width: 377px;

}

.aboutus h1 {
    font-size: 40px;
    font-weight: 400;
    font-weight: 400;
}
.portfolio .title hr {
    width: 100px;
    height: 3px;
    color: #E73587;
    margin: auto;
    margin-bottom: 30px;
    
}
.portfolio .owl-carousel .item {
   width: 367px !important;
   padding-left: 15px !important;
   border: none;
   margin: auto;
}
.card .card-title{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.card .card-text{
    font-weight: 400;
}
.portfolio .card-body a,
.btn-port{
    width: 140px;
    height: 40px;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    border: none;
    color: #fff;
}
.btn-port:hover {
    background: linear-gradient( var(--main-color) 10%, #4C6793 100%);
    border: 2px solid var(--main-color);
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%) !important;
   
    color: #fff !important;
    width: 76px !important;
    height: 76px !important;
    border-radius: 50px !important;
    font-size: 30px !important;
}
.owl-carousel .owl-next {
    position: absolute;
    right: 10px;
    bottom: 270px !important;
}
.owl-carousel .owl-prev {
    position: absolute;
    left: 10px;
    bottom: 270px !important;
}
.our-work h1 {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    margin-top: 100px;
}
.our-work .des-work h3 {
    color: #fff;
    font-size: 30px;
    font-family: 'Basic';
    font-weight: 400;
}
.our-work .des-work span {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-top: 16px;
}
.our-work .des-work p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 49px;
}
.our-work .des-work2 {
    text-align: right;
    padding-right: 30px;
}
.our-work .row {
    display: none;
}
.our-work .row:nth-child(1),
.our-work .row:nth-child(2),
.our-work .row:nth-child(3),
.our-work .row:nth-child(4),
.our-work .row:nth-child(5) {
    display: flex;
}
.our-work .container .our-title hr{
    width: 100px;
    height: 3px;
    color:#fa66ab;
    margin: auto;
    margin-bottom: 30px;
}


@media only screen and (max-width: 700px) {
    .navbar .nav-item .nav-link {
        margin-left: 50%;

    }

}

@media screen and (max-width: 450px) {
    * {
        margin: 0%;
    }
    .aboutus h1 {
        font-size: 30px;
    }
    .portfolio h1 {
        font-size: 30px;
    }
    .portfolio .item {
        width: 250px !important;
        margin: auto;
    }
    .owl-carousel .owl-next,
    .owl-carousel .owl-prev {
        width: 40px !important;
        height: 40px !important;
        border-radius: 50px !important;
        font-size: 20px !important;
        margin-left: -5px;
        margin-right: 45px;
    
    }
}

@media only screen and (max-width: 701px) {
    .portfolio .owl-carousel .item  {
        width: 300px !important;
        margin-left: 30px !important;
    }
    .owl-carousel .owl-next,
    .owl-carousel .owl-prev {
        width: 60px !important;
        height: 60px !important;
        border-radius: 50px !important;
        font-size: 30px !important;
        margin-left: -15px !important;
        margin-right: 45px;
    
    }
}
@media only screen and (max-width: 530px) {
    .aboutus h3{
        font-size: 15px;
    }
    .aboutus p {
        font-size: 12px;
    }
    .aboutus .img-banner {
        width: 400px;
        margin-left: 35px;
    }
    .portfolio .owl-carousel .item  {
        width: 367px !important;
        margin-left: 40px !important;
    }
    .owl-carousel .owl-next,
    .owl-carousel .owl-prev {
        width: 60px !important;
        height: 60px !important;
        border-radius: 50px !important;
        font-size: 30px !important;
        margin-left: -15px !important;
        margin-right: 45px;
    
    }
}
@media only screen and (max-width:900px) {
    .owl-carousel .owl-next,
    .owl-carousel .owl-prev {
        width: 40px !important;
        height: 40px !important;
        border-radius: 50px !important;
        font-size: 20px !important;
        margin-left: 15px !important;
        margin-right: 45px;
    
    }
    
    
}